In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
2+3

5

In [5]:
a=10
print(a)
print('a=',id(a))
a=3.14
print(a)
print('a=',id(a))
a='NTT'
print(a)
print('a=',id(a))
a=10
print(a)
print('a=',id(a))

10
a= 10751144
3.14
a= 133773953173200
NTT
a= 133773265543152
10
a= 10751144